# real configs (contain secrets)
/conf/app.yaml
/conf/app.dev.yaml
/conf/app.prod.yaml

# IDE
.idea

# binaries
/cex-price-monitoring
/cex-price-monitoring.exe
/go_build_linux_linux

# logs
/logs/

# build artifacts
/dist/
